<!doctype html>
<html lang="en" ng-app=L unchCheck>

<head>
	<meta charset="utf-8">
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
	<title>Lunch Checker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<style>
		.message {
			font-size: 1.3em;
			font-weight: bold;
		}
	</style>
</head>

<body>
	<!--	a controller is declared for the part of the page that holds the textbox, the button and the message-->
	<div ng-controller='LunchCheckController' class="container">
		<h1>Lunch Checker</h1>

		<div class="form-group">
			<input id="lunch-menu" type="text" ng-model=lunchItems placeholder="list comma separated dishes you usually have for lunch" class="form-control">
		</div>
		<!--		when the button is clicked, number of items are checked-->
		<div class="form-group">
			<button ng-click="checkStatus()" class="btn btn-default">Check If Too Much</button>
		</div>
		<!--	   an appropriate message is shown below based on the number of items-->
		<div class="form-group message">
			{{message}}
		</div>
	</div>

</body>

</html>